// Fuente
$fuente--principal: "Noto Sans", sans-serif;

// Colores totales
$fondo-principal: #2A183F;
$sidebar: #231235;
$navbar: #4C2473;

// Colores principales
$primary: #7B2FF7;
$secondary: #A855F7;
$card: #8F3DDB;

// Texto
$white: #FFFFFF;
$text-light: #D8B4FE;
$text-dark: #F3E8FF;


// colores de consola
$exito: #00ff9d;
$warning: #ffb84d;
$error: #ff5c5c;


// Mediaqueries

$tablet: 768px;
$telefono: 480px;
$desktop: 1200px;
$desktopall: 1400px;